.user-actions-login {
    height: 40px;

    position: absolute;
    right: 10px;
}

.user-actions-logout {
    height: 40px;

    position: absolute;
    right: 60px;
}

.user-actions-pfp {
    position: absolute;
    right: 10px;

    cursor: pointer;
}