<button class = "user-actions-login" mat-flat-button color = "accent" *ngIf = "getCurrentUser() == null && !hidden" (click) = "login()">Login</button>
<button class = "user-actions-login" mat-icon-button *ngIf = "getCurrentUser() == null && hidden" (click) = "login()">
    <mat-icon>login</mat-icon>
</button>
<button class = "user-actions-logout" mat-flat-button color = "accent" *ngIf = "getCurrentUser() != null && !hidden" (click) = "logout()">Logout</button>
<app-attachment class = "user-actions-pfp" matTooltip = "Profile" *ngIf = "getCurrentUser() != undefined" [attachment] = "getCurrentUser().attachments[0].attachment" [type] = "'user'" [preview] = "false" [width] = "40" [height] = "40" [matMenuTriggerFor] = "userActionsMenu"></app-attachment>

<mat-menu #userActionsMenu>
    <button mat-menu-item (click) = "openDialog('view')">
        <mat-icon>account_circle</mat-icon>
        View Account
    </button>
    <button mat-menu-item (click) = "openDialog('edit')">
        <mat-icon>manage_accounts</mat-icon>
        Settings
    </button>
    <button mat-menu-item (click) = "logout()" *ngIf = "hidden">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>