@import '@angular/material/theming';

@mixin search-component-theme($hover, $text) {
    .search-input {
        background-color: $hover;

        color: $text;
    }

    .search-mode {
        background-color: $hover;
    }
}