<app-space-moderator [showUI] = "false" (spaceAllowed) = "setSpaceAllowed($event)"></app-space-moderator>
<button class = "search-expand" mat-icon-button (click) = "expandSearch()" *ngIf = "hideBar" matTooltip = "Expand search">
  <mat-icon>search</mat-icon>
</button>
<button class = "search-contract" mat-icon-button (click) = "contractSearch()" *ngIf = "hideRest" matTooltip = "Hide search">
  <mat-icon>chevron_left</mat-icon>
</button>
<div [style.display] = "hideBar ? 'none' : 'inline-block'">
  <form class = "search-form" mat-ripple (submit) = "search(searchInput)" [ngStyle] = "{ 'width': newWidth + 'px', 'margin-left': hideRest ? 25 + 'px' : 10 + 'px' }">
      <input #searchInput class = "search-input" autocomplete = "off" maxlength = "100" [placeholder] = "spaceAllowed ? 'Search a ' + searchMode.toLowerCase() : 'No search available'" [value] = "searchValue" [disabled] = "!spaceAllowed" [style.width] = "newWidth + 'px'">
  </form>
  <button class = "search-button" mat-icon-button (click) = "search(searchInput)" matTooltip = "Search">
      <mat-icon>search</mat-icon>
  </button>
</div>
<mat-form-field class = "search-mode" mat-ripple [ngStyle] = "{ 'width': hideBar ? 70 + 'px' : 115 + 'px', 'margin-left': hideBar ? 40 + 'px' : 10 + 'px', 'display': hideRest ? 'none' : 'inline-block' }">
  <mat-label>Search mode</mat-label>
  <mat-select (valueChange) = "setSearchMode($event)" [value] = "searchMode" [disabled] = "!spaceAllowed">
    <mat-option *ngFor = "let sm of searchModes" [value] = "sm">
      {{ sm }}
    </mat-option>
  </mat-select>
</mat-form-field>
