@import '@angular/material/theming';

@mixin item-component-theme($card, $divider, $background, $primary-color, $accent-color) {
    .item-wrapper {
        background-color: $card;

        border: 1px solid $divider;
    }

    .item-wrapper:hover {
        background-color: $background;
    }

    .item-accepted {
        background-image: linear-gradient(to right, $primary-color, $accent-color);
    }

    .item-points-list {
        background-image: linear-gradient(to right, $primary-color, $accent-color);
    }
}