.item-wrapper {
    height: auto;

    box-sizing: border-box;

    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);

    border-radius: 5px;

    transition: background-color 0.1s;
}

.item-options {
    position: absolute;
    margin-left: -40px;
}

.item-crud-activator {
    position: absolute;
    right: -45px;
}

.item-toolbar {
    width: calc(100% - 2px);
    height: 30px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item-pfp {
    margin-top: 8px;
}

.item-username {
    max-width: 27.5%;

    margin-left: 5px;

    font-size: 15px;
    font-weight: bold;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-spacer {
    flex: 1 1 auto;
}

.item-edited {
    min-height: unset;

    padding: 12px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.item-accepted {
    min-height: unset;

    padding: 12px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.item-time-created {
    font-size: 12px;
}

.item-points-list {
    width: calc(100% - 2px);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item-point {
    color: #fff;
}

.item-title {
    margin: 10px;

    font-size: 20px;
    font-weight: bold;
}

.item-description {
    margin: 10px;
}