<div class = "item-wrapper" [ngStyle] = "{ 'width': newWidth == 0 ? width + 'px' : newWidth + 'px', 'min-height': height + 'px' }">
    <app-item-options class = "item-options" [item] = "item" [parent] = "parent" [type] = "type"></app-item-options>
    <app-crud-activator class = "item-crud-activator" [item] = "item" [parent] = "parent" [type] = "type" *ngIf = "type != 'user'"></app-crud-activator>
    <div [ngStyle] = "{ 'width': newWidth == 0 ? width + 'px' : newWidth + 'px', 'min-height': height + 'px', 'cursor': type == 'question' && !hasQuestionId ? 'pointer' : 'default' }" (click) = "type == 'question' && !hasQuestionId ? seeFullQuestion() : null">        
        <mat-toolbar class = "item-toolbar" *ngIf = "item.author != null">
            <app-attachment class = "item-pfp" [attachment] = "item.author.user.attachments[0].attachment" [type] = "'user'" [preview] = "false" [width] = "25" [height] = "25" *ngIf = "item.author != null"></app-attachment>
            <span class = "item-username" *ngIf = "item.author != null">{{ item.author.user.title }}</span>
            
            <span class = "item-spacer"></span>

            <mat-chip-list *ngIf = "newWidth > 300">
                <mat-chip class = "item-edited" matTooltip = "Item is edited" *ngIf = "item.edited">
                    <mat-icon>edit</mat-icon>
                </mat-chip>
                <mat-chip class = "item-accepted" selected matTooltip = "Item is accepted" *ngIf = "item.accepted">
                    <mat-icon>check</mat-icon>
                </mat-chip>
            </mat-chip-list>
            
            <span class = "item-spacer"></span>

            <span class = "item-time-created" *ngIf = "item.timeCreated != null">{{ item.timeCreated | date: newWidth < width ? 'M/d/y' : 'M/d/y — h:m a' }}</span>
        </mat-toolbar>
        <mat-progress-bar *ngIf = "loadingAttachments" mode = 'indeterminate'></mat-progress-bar>

        <mat-list class = "item-points-list" *ngIf = "type == 'user'">
            <mat-list-item class = "item-point">
                <app-attachment [attachment] = "item.attachments[0].attachment" [type] = "type" [preview] = "false" [width] = "40" [height] = "40" mat-list-avatar></app-attachment>

                <div mat-line>{{ item.title }}</div>
                <div mat-line *ngIf = "currentUser != null && currentUser.id == item.id">{{ item.email }}</div>
            </mat-list-item>
            <mat-list-item class = "item-point">
                <mat-icon mat-list-icon>psychology_alt</mat-icon>
                
                <div mat-line>Curiosity Points</div>
                <div mat-line>{{ item.curiosityPoints }}</div>
            </mat-list-item>
            <mat-list-item class = "item-point">
                <mat-icon mat-list-icon>handshake</mat-icon>
                
                <div mat-line>Helper Points</div>
                <div mat-line>{{ item.helperPoints }}</div>
            </mat-list-item>
        </mat-list>

        <p class = "item-title" *ngIf = "item.title != null && type != 'user'" [ngStyle] = "hasQuestionId ? {} : { 'overflow': 'hidden', 'white-space': 'nowrap', 'text-overflow': 'ellipsis' }">{{ item.title }}</p>
        <p class = "item-description" #itemDescription [ngStyle] = "type == 'question' && !hasQuestionId ? { 'overflow': 'hidden', 'white-space': 'nowrap', 'text-overflow': 'ellipsis' } : null" *ngIf = "item.description != null">{{ item.description }}</p>            
        <div *ngIf = "hasQuestionId && item.attachments == null">
            <div *ngFor = "let attachment of attachmentList">
                <app-attachment [attachment] = "attachment" [type] = "type" [preview] = "false" [width] = "width - 20" [height] = "1000"></app-attachment>
            </div>
        </div>
    </div>
</div>