<div class = "space-moderator-wrapper" *ngIf = "showUI">
    <div *ngIf = "!allowedSpace">
        <div *ngIf = "currentUser == null">
            <b>
                <p class = "space-moderator-message">You cannot access other spaces.</p>
            </b>
            <p class = "space-moderator-message">Login in order to gain potential access.</p>
        </div>
        <div *ngIf = "currentUser != null && existsSpace">
            <b>
                <p class = "space-moderator-message">Looks like you are not part of this space.</p>
            </b>
            <p class = "space-moderator-message">Make sure you have joined the space properly.</p>
        </div>
    </div>
    <div *ngIf = "spaceId != null">
        <div *ngIf = "!existsSpace">
            <b>
                <p class = "space-moderator-message">Looks like this space doesn't exist.</p>
            </b>
            <p class = "space-moderator-message">Please check if you have entered the right url.</p>
        </div>
        <div *ngIf = "questionId != null && existsSpace && !existsQuestion">
            <b>
                <p class = "space-moderator-message">Looks like this question doesn't exist.</p>
            </b>
            <p class = "space-moderator-message">Please check if you have entered the right url.</p>
        </div>
    </div>
</div>