<app-space-moderator [showUI] = "false" (spaceAllowed) = "setSpaceAllowed($event)"></app-space-moderator>
<mat-selection-list class = "drawer-list" multiple = "false">
    <div mat-subheader>Lost in Space</div>
    <mat-list-option (click) = "redirect('/')">
        <mat-icon mat-list-icon>grass</mat-icon>
        Back to Earth
    </mat-list-option>
    <mat-list-option (click) = "redirect('/spaces/public/1/questions')">
        <mat-icon mat-list-icon>history</mat-icon>
        Back to Public
    </mat-list-option>
    <div *ngIf = "currentUser != null">
        <div mat-subheader>Joining spaces</div>
        <mat-list-option (click) = "redirect('/joinedspaces')">
            <mat-icon mat-list-icon>select_all</mat-icon>
            Joined Spaces
        </mat-list-option>
        <mat-list-option (click) = "redirect('/timetravel')">
            <mat-icon mat-list-icon>travel_explore</mat-icon>
            Time Travel
        </mat-list-option>
        <mat-list-option (click) = "joinUnshared()">
            <mat-icon mat-list-icon>policy</mat-icon>
            Join Unshared
        </mat-list-option>
        <div mat-subheader>Owning spaces</div>
        <mat-list-option (click) = "redirect('/ownedspaces')">
            <mat-icon mat-list-icon>view_in_ar</mat-icon>
            Owned Spaces
        </mat-list-option>
        <mat-list-option (click) = "createSpace()">
            <mat-icon mat-list-icon>rocket_launch</mat-icon>
            Create a new space
        </mat-list-option>
    </div>
    <div *ngIf = "spaceAllowed">
        <div mat-subheader>The space {{ space.title }}</div>
        <mat-list-option (click) = "redirect('questions')">
            <mat-icon mat-list-icon>question_mark</mat-icon>
            Questions in {{ space.title }}
        </mat-list-option>
        <mat-list-option (click) = "redirect('categories')">
            <mat-icon mat-list-icon>category</mat-icon>
            Categories in {{ space.title }}
        </mat-list-option>
        <mat-list-option (click) = "redirect('users')">
            <mat-icon mat-list-icon>group</mat-icon>
            Users in {{ space.title }}
        </mat-list-option>
    </div>
</mat-selection-list>