.create-edit-item-title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}

.create-edit-item-form {
    width: 100%;
}

.create-edit-item-file-chooser {
    display: none;
}

.create-edit-item-drag-n-drop {
    box-sizing: border-box;
}

.create-edit-item-attachment-text {
    word-break: normal;
}