.attachment-display {
    width: auto;
    height: auto;

    margin-left: 50%;
    transform: translate(-50%);
}

.attachment-preview-wrapper {
    margin: 10px;
    margin-top: 0;

    border-radius: 5px;
}