<mat-card class = "space-card" [class.mat-elevation-z0] = "true" [ngStyle] = "{ 'width': newWidth + 'px', 'height': height + 'px' }">
    <mat-card-header>
        <app-attachment [attachment] = "space.author.user.attachments[0].attachment" [type] = "'user'" [preview] = "false" [width] = "40" [height] = "40" mat-card-avatar></app-attachment>
        <mat-card-title>{{ space.title }}</mat-card-title>
        <mat-card-subtitle>Created {{ space.timeCreated | date: 'MM/dd/yyyy — h:mm a' }}</mat-card-subtitle>
    </mat-card-header>
    <app-attachment [attachment] = "space.attachments[0].attachment" [type] = "'space'" [preview] = "false" [width] = "600" [height] = "300" mat-card-image></app-attachment>
    <mat-card-content>
        <p>{{ space.description }}</p>
    </mat-card-content>
    <mat-card-actions align = "end">
        <button mat-icon-button disabled>
            <mat-icon matTooltip = "Shared space" *ngIf = "space.shared">public</mat-icon>
            <mat-icon matTooltip = "Unshared space" *ngIf = "!space.shared">public_off</mat-icon>
        </button>
        <button mat-flat-button color = "primary" (click) = "joinSpace()" *ngIf = "urlPath == 'timetravel'">Join</button>
        <button mat-flat-button color = "primary" (click) = "openSpace()" *ngIf = "urlPath != 'timetravel'">Open</button>
        <app-crud-activator [item] = "space" [type] = "'space'"></app-crud-activator>
    </mat-card-actions>
</mat-card>