<div class = "home-wrapper">
    <img class = "home-background" src = "./assets/background/tesserask-background{{ randBackground }}.png">
    <div class = "home-title">TESSERASK</div>
    <div class = "home-description">The future of Q and A</div>
    <img class = "home-tesseract" src = "./assets/tesseract.svg">
    <button class = "home-enter" mat-button (click) = "redirect('/spaces/public/1/questions')">Enter the Tesseract</button>
    <div class = "home-credit">Background Art By Deep Fold's PixelSpace</div>
</div>