.item-options-button {
    width: 35px;
    height: 35px;

    line-height: 0;
}

.item-options-count {
    width: 35px;

    position: absolute;
    margin-top: -10px;

    text-align: center;
}